/** @format */
.app {
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  line-height: 3.5;
  background-color: rgb(55, 71, 90);
  color: white;
  cursor: pointer;
}

.footer:hover {
  background-color: rgb(77, 95, 117);
}
