/** @format */

.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  width: 100%;
  justify-content: space-between;
}
.checkout_add {
  width: 100%;
  object-fit: cover;
  height: 80px;
}

.checkout_tittle {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
