/** @format */

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header_searchInput {
  height: 35px;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search_icon {
  padding: 5px;
  height: 35px !important;
  background-color: #cd9842;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header_nav {
  display: flex;
  flex: 0.5;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;

  padding: 8px;
}

.header_option_lineone {
  font-size: 11px;
}

.header_option_linetwo {
  font-size: 14px;
  font-weight: 700;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
