/** @format */
.home {
  background-color: rgb(234, 237, 237);
}
.home-carousel {
  width: 100%;
  margin-bottom: -250px;
}
.carousel-indicators {
  display: none !important;
}
.carousel-control-prev,
.carousel-control-next {
  height: 100px;
  top: 120px !important;
}

.home_image {
  width: 100%;
  z-index: -1;

  mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.home_row {
  display: flex;

  justify-content: center;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.add_banner {
  width: 100%;
  padding: 20px;
}
@media only screen and (max-width: 1000px) {
  .home-carousel {
    margin-bottom: -100px;
  }
}
